<div class="p-align-center p-grid p-dir-col p-justify-center">
  <p-card class="p-justify-center p-align-center" id="form-card">
    <h3>Créer votre nouveau trajet</h3>
    <form [formGroup]="trajetForm" (ngSubmit)="handleSubmit()">
      <div class="p-col-12 p-align-center p-justify-center p-align-center" id="test">

        <input class="input-form-trajet" type="text" pInputText placeholder="Nom du trajet" formControlName="nomCtrl">

      </div>
      <div class="p-col p-align-center p-justify-center">

        <textarea class="input-form-trajet" [cols]="30" pInputTextarea autoResize="autoResize" placeholder="Description du trajet"
          formControlName="descCtrl"></textarea>
      </div>
      <div class="p-align-center p-col p-justify-center">

        <p-calendar class="input-form-trajet" placeholder="Date du déaprt" formControlName="dateCtrl" dateFormat="yy.mm.dd" showTime="true" hourFormat="24"></p-calendar>

      </div>
      <div class="p-align-center p-col p-justify-center">
        <button class="button " type="submit">Submit</button>
      </div>
      

    </form>
  </p-card>

</div>
