
<div class="p-grid p-justify-end">
    
   <div class="p-col-12">
       <div class="box" id="box" >
        <div class="reseau social" id="reseau">
        <a href="https://www.facebook.com/address/" target="blank"><img src="../assets/facebook.png" height="30px"></a>
        <a href="https://twitter.com/address" target="blank"><img src="../assets/logo-twitter.jpg" height="30px"></a>
        <a href="https://snapchat.com/address" target="blank"><img src="../assets/Snapchat.png" height="30px"></a>
        <a href="https://instagram.com/address" target="blank"><img src="../assets/insta.jpg" height="30px"></a>
    </div>
    <h5>Equipe velone</h5>
    </div>
   </div>
</div>