

          <h3>Connexion</h3>
          <div class="p-col-12">
            <input placeholder="Nom utilisateur" pInputText [(ngModel)]="username" />
          </div>
          <div class="p-col-12">
          </div>
          <div class="p-col-12">
            <input placeholder="Mot de passe" type="password" pInputText [(ngModel)]="password" />
          </div>
          <div class="p-col-12">
            <button id="button" pButton type="button" (click)="login()" label="connexion"></button>
          </div>
          
