<div class="p-grid p-dir-col">

  <div class="p-col">
    <app-menu></app-menu>
  </div>

  <div class="p-col">
    <router-outlet></router-outlet>
  </div>

  <div class="p-col">

    <p> Sed tortor mi, sagittis et lacus a, feugiat dapibus nibh. Sed tincidunt ante a ante suscipit malesuada. Cras et pulvinar nulla. Sed vel ex ut nunc fermentum consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisl purus, gravida nec elit ut, vulputate dapibus diam. Sed in mi a tortor scelerisque efficitur at ut justo. Maecenas sollicitudin dui tristique urna faucibus congue. Ut condimentum, nisi non suscipit pharetra, justo nibh eleifend nisi, elementum vulputate metus odio vitae erat. Aliquam non sapien arcu. Donec ac auctor neque. Nullam maximus sapien non magna consequat mattis. Mauris consectetur placerat risus, in auctor nulla malesuada commodo. Maecenas elit nulla, efficitur non est eu, molestie convallis sem. Proin nec lorem ante. Ut rutrum, neque non dignissim finibus, mi risus mattis ante, ut sodales elit elit mollis erat.

      Integer sed enim venenatis, molestie nunc sed, feugiat nisi. Aliquam felis dui, bibendum sed pretium vitae, pulvinar eget velit. Sed faucibus velit non tristique tincidunt. Aliquam at facilisis dui. Curabitur varius posuere augue, eget dictum quam eleifend quis. Donec dapibus ornare ligula id tempus. Proin pulvinar eros ac aliquam rhoncus. Aenean eget sapien mauris. Praesent pretium laoreet lorem et fringilla.
    </p>
  </div>



</div>
