<div class="p-grid">
    <div class="p-col-6">Nom:</div>             <div class="p-col-6">{{ utilisateur.nom }}</div> 
    <div class="p-col-6">Prenom: </div>         <div class="p-col-6">{{ utilisateur.prenom }}</div>
    <div class="p-col-6">Adresse:</div>         <div class="p-col-6">{{ utilisateur.adresse }} </div>
    <div class="p-col-6">Ville:  </div>         <div class="p-col-6">{{ utilisateur.ville }} </div>
    <div class="p-col-6">codePostal:</div>      <div class="p-col-6">{{ utilisateur.codePostal }} </div>
    <div class="p-col-6">Mail: </div>           <div class="p-col-6">{{ utilisateur.mail }} </div>
    <div class="p-col-6">dateNaissance:</div>   <div class="p-col-6">{{ utilisateur.dateNaissance }}</div>
</div>
