/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-routing-machine/dist/leaflet-routing-machine.css';


//Hide itinerary panel for static map
.carte .leaflet-control-container {
    display: none;
}

.notFooter{
    min-height: calc(100vh - 2.5rem);
}


body, html {
    min-height: 100vh;
    width:  100 vw;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    
    background-color: white;

}