a {
    color: white;
}

.router-link-active {
    background-color: #0c6dc9;
    color : white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #095399;
    position: fixed;
    top: 0;
    width: 100%;
  }

li {
    float: left;
}

li:last-child {
    border-right: none;
    margin-right: 3px;

}

li:first-child {
    border-right: none;
    margin: 0;
    padding: 0;
    margin-left: 3px;
    margin-top: 3px;
    
}

li a {
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #052C51;
    color:white;
}

.active {
    background-color: #4CAF50;
}

ul input[type=text] {
    
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
}