
<!-- 


  
-->


  <ul>
    <li><img src="./../../../assets/logo.svg" alt="Smiley face" height="40" width="auto"></li>
    <li><a [routerLink]="['']" routerLinkActive="router-link-active" >Accueil</a></li>
    <li><a [routerLink]="['profil']" routerLinkActive="router-link-active" >Mon profil</a></li>
    <li><a [routerLink]="['/trajets']" routerLinkActive="router-link-active" >Mes trajets</a></li>
    <li><a [routerLink]="['/membre-trajets/:id']" routerLinkActive="router-link-active" >Mes participations</a></li>
    <li><a [routerLink]="['/form-trajet']" routerLinkActive="router-link-active" >Ajouter un trajet</a></li>
    <li style="float:right"><a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></li>
    <li style="float:right"><input type="text" placeholder="Search.."></li>
    
  </ul>
  <div class="banniere">
    <img src="./../../../assets/wally.jpg"/>
  </div>

