.container {
    display: flex;
    justify-content: space-around;
    justify-content: center;

}

#full-grid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#full-grid :hover {
    box-shadow: 8px 4px 16px 0 rgba(0, 0, 0, 0.2);
   
}
