<div class="p-grid">
                   
  <div class="p-col-4">
    <div class="p-grid p-align-center">
      <div class="p-col-12">
        <div class="p-grid" id="header">
          <div class="p-col">
            <h2>{{ trajet.nom }}</h2>
          </div>
          <div class="p-col">
            <p>crée par <a [routerLink]="['/utilisateur',trajet.utilisateur.id]"
                routerLinkActive="router-link-active">{{trajet.utilisateur.nom}} {{trajet.utilisateur.prenom}}</a></p>
          </div>
        </div>
      </div>
      <div class="p-col">
        <p>Description :</p>
        <p>{{ trajet.description }}</p>
      </div>
      <div class="p-col">
        <p>Date de départ:</p>
        <p>{{ trajet.dateDepart }}</p>
      </div>
      <div class="p-col-12">
        <p>Etapes</p>
        <div *ngFor="let etape of trajet.etapes">
          <p>{{etape.nom}}</p>
        </div>
      </div>
      <div id="fichiers" class="p-col-12">
        List des fichiers
      </div>
      <div class="p-col-12">
        List des Membres
      </div>
      
      <div class="p-col-12">
        <app-statistique></app-statistique>
      </div>
    </div>
  </div>
  <app-carte-statique class="p-col-8" [trajet]="trajet"></app-carte-statique>

</div>
<pre>
  {{ trajet | json }}
</pre>
